## heading goes here

In [2]:
import pandas as pd
import numpy as np
import datetime
import warnings
from dfply import *

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("whitegrid")

import plotly.express as px


warnings.filterwarnings('ignore')
warnings.filterwarnings("ignore", message="numpy.ufunc size changed")

# this command tells the IPython environment to draw the plots immediately after the current cell
%matplotlib inline

pd.set_option('display.max_columns', None) #shows all column names

In [3]:
df = pd.read_excel('/Users/rachelleflores/Documents/GitHub/hrc-mid-bootcamp-project/resources/creditcardmarketing.xlsx')

In [4]:
df.head()

,Customer Number,Offer Accepted,Reward,Mailer Type,Income Level,# Bank Accounts Open,Overdraft Protection,Credit Rating,# Credit Cards Held,# Homes Owned,Household Size,Own Your Home,Average Balance,Q1 Balance,Q2 Balance,Q3 Balance,Q4 Balance
0,1,No,Air Miles,Letter,High,1,No,High,2,1,4,No,1160.75,1669.0,877.0,1095.0,1002.0
1,2,No,Air Miles,Letter,Medium,1,No,Medium,2,2,5,Yes,147.25,39.0,106.0,78.0,366.0
2,3,No,Air Miles,Postcard,High,2,No,Medium,2,1,2,Yes,276.50,367.0,352.0,145.0,242.0
3,4,No,Air Miles,Letter,Medium,2,No,High,1,1,4,No,1219.00,1578.0,1760.0,1119.0,419.0
4,5,No,Air Miles,Letter,Medium,1,No,Medium,2,1,6,Yes,1211.00,2140.0,1357.0,982.0,365.0

In [5]:
df.shape

(18000, 17)

In [6]:
def standard_cols(dataframe):
    '''Standardize column names into lowercase and replace spaces with underscore.'''
    dataframe.columns = [col.lower().replace(' ','_') for col in dataframe.columns]

In [7]:
standard_cols(df)

In [8]:
df.rename(columns={'#_bank_accounts_open': 'bank_accounts_open', '#_credit_cards_held' : 'credit_cards_held', '#_homes_owned' : 'homes_owned'})

,customer_number,offer_accepted,reward,mailer_type,income_level,bank_accounts_open,overdraft_protection,credit_rating,credit_cards_held,homes_owned,household_size,own_your_home,average_balance,q1_balance,q2_balance,q3_balance,q4_balance
0,1,No,Air Miles,Letter,High,1,No,High,2,1,4,No,1160.75,1669.0,877.0,1095.0,1002.0
1,2,No,Air Miles,Letter,Medium,1,No,Medium,2,2,5,Yes,147.25,39.0,106.0,78.0,366.0
2,3,No,Air Miles,Postcard,High,2,No,Medium,2,1,2,Yes,276.50,367.0,352.0,145.0,242.0
3,4,No,Air Miles,Letter,Medium,2,No,High,1,1,4,No,1219.00,1578.0,1760.0,1119.0,419.0
4,5,No,Air Miles,Letter,Medium,1,No,Medium,2,1,6,Yes,1211.00,2140.0,1357.0,982.0,365.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17995,17996,No,Cash Back,Letter,High,1,No,Low,1,1,5,Yes,167.50,136.0,65.0,71.0,398.0
17996,17997,No,Cash Back,Letter,High,1,No,Low,3,1,3,Yes,850.50,984.0,940.0,943.0,535.0
17997,17998,No,Cash Back,Letter,High,1,No,Low,2,1,4,No,1087.25,918.0,767.0,1170.0,1494.0
17998,17999,No,Cash Back,Letter,Medium,1,No,Medium,4,2,2,Yes,1022.25,626.0,983.0,865.0,1615.0
17999,18000,No,Cash Back,Letter,Low,2,No,Medium,2,1,3,No,1056.00,265.0,1378.0,1978.0,603.0

In [9]:
#df.to_csv('credit_card_data.csv', header=True, index=False)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18000 entries, 0 to 17999
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   customer_number       18000 non-null  int64
 1   offer_accepted        18000 non-null  object
 2   reward                18000 non-null  object
 3   mailer_type           18000 non-null  object
 4   income_level          18000 non-null  object
 5   #_bank_accounts_open  18000 non-null  int64
 6   overdraft_protection  18000 non-null  object
 7   credit_rating         18000 non-null  object
 8   #_credit_cards_held   18000 non-null  int64
 9   #_homes_owned         18000 non-null  int64
 10  household_size        18000 non-null  int64
 11  own_your_home         18000 non-null  object
 12  average_balance       17976 non-null  float64
 13  q1_balance            17976 non-null  float64
 14  q2_balance            17976 non-null  float64
 15  q3_balance            17976 non-null  float64
 16  q4_balance            17976 non-null  float64
dtypes: float64(5), int64(5), object(7)
memory usage: 2.3+ MB

In [11]:
df_nans = df[df.average_balance.isna()]

In [12]:
df_nans

,customer_number,offer_accepted,reward,mailer_type,income_level,#_bank_accounts_open,overdraft_protection,credit_rating,#_credit_cards_held,#_homes_owned,household_size,own_your_home,average_balance,q1_balance,q2_balance,q3_balance,q4_balance
323,324,No,Points,Postcard,Medium,1,No,High,1,1,4,No,NaN,NaN,NaN,NaN,NaN
3070,3071,Yes,Air Miles,Postcard,Low,3,No,Medium,2,1,4,Yes,NaN,NaN,NaN,NaN,NaN
3108,3109,No,Air Miles,Letter,Low,1,No,High,3,1,4,Yes,NaN,NaN,NaN,NaN,NaN
3789,3790,No,Air Miles,Letter,Medium,2,No,High,3,1,3,No,NaN,NaN,NaN,NaN,NaN
5083,5084,No,Points,Letter,Medium,1,No,High,1,1,3,Yes,NaN,NaN,NaN,NaN,NaN
5677,5678,No,Air Miles,Postcard,Low,1,No,Low,2,1,4,Yes,NaN,NaN,NaN,NaN,NaN
5689,5690,No,Air Miles,Postcard,Medium,1,No,Medium,3,1,5,No,NaN,NaN,NaN,NaN,NaN
6932,6933,No,Air Miles,Postcard,Medium,1,No,Medium,2,2,4,Yes,NaN,NaN,NaN,NaN,NaN
7787,7788,No,Air Miles,Letter,Low,2,No,Low,1,1,4,Yes,NaN,NaN,NaN,NaN,NaN
7864,7865,No,Cash Back,Postcard,High,2,Yes,Low,2,1,3,No,NaN,NaN,NaN,NaN,NaN
8151,8152,No,Cash Back,Letter,Low,2,No,Medium,2,2,3,Yes,NaN,NaN,NaN,NaN,NaN
8634,8635,No,Air Miles,Postcard,High,1,No,High,2,1,3,Yes,NaN,NaN,NaN,NaN,NaN
10039,10040,No,Cash Back,Postcard,Medium,1,No,Low,2,1,4,Yes,NaN,NaN,NaN,NaN,NaN
10860,10861,No,Points,Letter,Medium,1,Yes,Low,1,2,4,Yes,NaN,NaN,NaN,NaN,NaN
12479,12480,No,Points,Letter,Medium,1,No,Medium,3,1,4,Yes,NaN,NaN,NaN,NaN,NaN
12559,12560,No,Air Miles,Letter,High,1,No,Low,2,1,5,Yes,NaN,NaN,NaN,NaN,NaN
12945,12946,No,Points,Letter,High,1,No,Low,2,1,4,Yes,NaN,NaN,NaN,NaN,NaN
13313,13314,Yes,Air Miles,Postcard,Medium,1,No,Medium,1,1,3,Yes,NaN,NaN,NaN,NaN,NaN
13470,13471,No,Air Miles,Postcard,Medium,1,No,Medium,2,1,3,Yes,NaN,NaN,NaN,NaN,NaN
14666,14667,No,Air Miles,Postcard,High,1,No,Medium,3,1,2,Yes,NaN,NaN,NaN,NaN,NaN
14698,14699,No,Points,Postcard,High,1,No,Low,3,1,2,Yes,NaN,NaN,NaN,NaN,NaN
15707,15708,No,Cash Back,Letter,High,2,No,High,1,1,2,Yes,NaN,NaN,NaN,NaN,NaN
15933,15934,No,Air Miles,Postcard,Low,1,No,High,2,1,2,Yes,NaN,NaN,NaN,NaN,NaN
17104,17105,No,Air Miles,Letter,Medium,1,No,Low,1,1,4,No,NaN,NaN,NaN,NaN,NaN

In [13]:
df_nans.describe(include='all')

,customer_number,offer_accepted,reward,mailer_type,income_level,#_bank_accounts_open,overdraft_protection,credit_rating,#_credit_cards_held,#_homes_owned,household_size,own_your_home,average_balance,q1_balance,q2_balance,q3_balance,q4_balance
count,24.000000,24,24,24,24,24.000000,24,24,24.000000,24.000000,24.000000,24,0.0,0.0,0.0,0.0,0.0
unique,NaN,2,3,2,3,NaN,2,3,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN
top,NaN,No,Air Miles,Postcard,Medium,NaN,No,Low,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN
freq,NaN,22,14,13,11,NaN,22,9,NaN,NaN,NaN,19,NaN,NaN,NaN,NaN,NaN
mean,9579.333333,NaN,NaN,NaN,NaN,1.291667,NaN,NaN,1.958333,1.125000,3.458333,NaN,NaN,NaN,NaN,NaN,NaN
std,4737.868643,NaN,NaN,NaN,NaN,0.550033,NaN,NaN,0.750604,0.337832,0.883627,NaN,NaN,NaN,NaN,NaN,NaN
min,324.000000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,1.000000,1.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,5687.000000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,1.000000,1.000000,3.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,9337.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,2.000000,1.000000,4.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,13353.250000,NaN,NaN,NaN,NaN,1.250000,NaN,NaN,2.250000,1.000000,4.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,17105.000000,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,3.000000,2.000000,5.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
24/18000

0.0013333333333333333

In [15]:
df_nans.shape

(24, 17)

In [16]:
df_nans.offer_accepted.value_counts()

offer_accepted
No     22
Yes     2
Name: count, dtype: int64

In [22]:
df1 = df[~df.average_balance.isna()]
df1.shape

(17976, 17)